<div class="row">
    <div class="col-sm-8">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mark</th>
                    <th scope="col">Model</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars$ | async; index as i" (click)="selectCar(car)"  [class.table-active]="isCarSelected(car)">
                    <th scope="row">{{i+1}}</th>
                    <td>{{car.mark}}</td>
                    <td>{{car.model}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <app-car-details *ngIf="selectedCar"
        [car]="selectedCar"
        (carChange)="applyCarChanges($event)"></app-car-details>
    </div>

</div>

