
<form (submit)="notifyOnCarChange($event)">
    <div class="form-group">
        <label for="mark">Mark</label>
        <input class="form-control" id="mark" [value]="car.mark">
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input class="form-control" id="model" [value]="car.model">
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
</form>
